body{
    background-color:#EFEAD8;
    background-image: url();
}

.sectionize{
    border: 5px solid #5F7161;
    padding: 200px;
    margin: 20px;

}

#section-1{
    border: 0px solid;
    background-color: #D0C9C0;
    padding: 200px;
    margin: 0px;
}

#section-2{
    border: 0px solid;
    background-color: #6D8B74;
    padding: 200px;
    margin: 0px;
}

#section-3{
    border: 0px solid;
    background-color: #EFEAD8;
   /* background-color:#5F7161;*/
    padding: 50px;
    margin: 0px;
}


.top{
    text-align: center;
}

#section3text{
    text-align: center;
}